<h1>Welcome to UNM's Undergraduate Research Opportunity Database</h1>
<div id="wrap">
	<div id="main"><%= button_to "Project Database", projects_path, :method => "get" %></div>
	<div id="sidebar"> <%= button_to "Student Database", student_profiles_path, :method => "get" %></div>
</div>
